@import "setup";

$blue: #297eb7;
$gray: #323333;
$lightgray: #ecf0f1;
$black: rgb(51, 51, 51);

$font: 'Lato', 'Helvetica Neue', sans-serif;


body {
  font-family: $font;
  color: $black;
  letter-spacing: 0.075em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  dt {
    font-family: $font;
    text-transform: uppercase;
    font-weight: 300;
  }

  p,
  a {
    line-height: 1.5;
    font-weight: 300;
  }

  dt {
    font-weight: 400;
  }

  dd, 
  dt {
    padding: 5px 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: $black;
    transition: all .25s ease;
    &:hover {
      color: $blue;
    }
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100px;
  background: $lightgray;
  padding: 0 100px;
  position: fixed;
  transition: all 0.75s ease;
  z-index: 9999;

  &.hide-nav {
    top: -100px;
  }

  &.show-nav {
    top: 0;
  }

  .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    
    li {
      padding: 0 10px;

      a {
        text-decoration: none;
        color: $black;
        transition: color 0.15s ease;
        text-transform: uppercase;
        font-size: 14px;

        &.selected {
          color: $blue;
        }
      }
    }
  }
}

.references,
.resume,
.projects,
.media,
.contact {
  width: 100%;
  padding: 30px 225px 20px 225px;
  background: url('../assets/pattern-bg.png');

  h1 {
    color: $blue;
  }
  .content {
    display: flex;
    .content-text,
    .content-download {
      margin: 20px 0px;
      width: 50%;
    }

    .content-download {
      padding-left: 50px;
    }
  }
}

.media {
  h2 {
    padding: 15px 0;
  }

  #video {
    width: 100%;
    margin: 10px 0;
  }
}


.image-break {
  display: flex;
  overflow: hidden;

  .image-break-container {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 400px;
      width: auto;
    }
  }
}

.flickity-viewport {
  width: 100% !important;
}

.hero {
  background-image: linear-gradient(rgba(57,57,57,0.4), rgba(57,57,57,0.4)), url('../assets/lift1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  align-items: center;
  padding-left: 100px;
  position: relative;
  margin-bottom: 50px;

  .hero-text,
  .continue {
    color: white;
    text-decoration: none;
  }
  .hero-text {
    margin-bottom: 200px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
  }
  h1,
  h2,
  .continue {
    margin: 5px;
    padding: 7px;
    display: table;
    background: rgba(0,0,0,0.7);
    font-weight: 100;
  }

  .continue {
    position: absolute;
    right: calc(50% - 100px);
    bottom: 0;
    margin: 50px;
    border: none;
  }
}

footer {
  margin-top: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $gray;
  color: $lightgray;
  position: relative;

  a {
    color: $blue;
  }
}