@import "setup";

$blue: #297eb7;
$gray: #323333;
$lightgray: #c8cdce;
$black: rgb(51, 51, 51);

$bodyFont: 'Roboto', 'Helvetica Neue', sans-serif;
$headerFont: 'Tahoma', sans-serif;


body {
  // background: red;
  font-family: $bodyFont;
  color: $black;
  letter-spacing: 0.075em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $headerFont;
  }
}

.sidebar {
  padding-top: 25px;
  height: 100vh;
  width: 250px;
  position: fixed;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
  background: pink;

  a,
  h1 {
    text-decoration: none;
    padding: 10px 30px;
    color: $blue;
    font-weight: 400;
  }

  a {
    font-size: 20px;

    &:hover {
      color: green;
    }
  }

  h1 {
    font-size: 32px;
  }

  .active {
    color: red;
  }
}

.content-wrapper {
  height: 100vh;
  margin-left: 250px;
  z-index: 9999;
}

.hero,
.about,
.resume,
.projects {
  display: flex; 
  background: red;
  position: fixed;
  top: 100px;
  left: -520px;
  width: 500px;
  transition: all 1s ease;

  &.active {
    left: 250px;
  }

}

.hero {
  background-image: linear-gradient(rgba(57,57,57,0.4), rgba(57,57,57,0.4)), url('../assets/lift.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  align-items: center;
  padding-left: 100px;
  position: relative;

  .hero-text,
  .continue {
    color: white;
  }
  .hero-text {
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
  }
  h1,
  h2,
  .continue {
    margin: 5px;
    padding: 7px;
    display: table;
    background: rgba(0,0,0,0.7);
    font-weight: 100;
  }

  .continue {
    position: absolute;
    right: calc(50% - 100px);
    bottom: 0;
    margin: 50px;
    border: none;
  }
}
